@import url(dialogue.css);

body {
    background: #777;
}
.dialogue {
    margin: 0 auto;
}


#btnStart {
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
}


#debug {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5em;
}

#debug .title {

    font-weight: bold;
}
